	/*

	uiSimplified:
	- standard rules

*/

.item{
	position:relative;
	margin:1rem 0; padding:77% 1rem 1rem;
	background:#FFF;
}

.item h3{
	margin-bottom:1rem;
	font-size:2.2rem; line-height:2.6rem; color:#131313;
}

.item h4{
	font-size:1.6rem; font-weight:400; line-height:2.2rem; color:#202020;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	height:11rem;
	overflow:hidden; text-overflow: ellipsis;
}

.media{
	position:absolute;
	top:0;left:0;
	padding-top:75%;
	width:100%;
}

.mediael{
	display: block; position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	width: 100%; height: 100%;
}

.mediael img{
	display: block;
	max-width: 100%;
}

@media screen and (min-width: 375px) { /* iPhone 6 */

	.sw{
		padding:0 1.5rem;
	}

	.item{
		margin:1.5rem 0; padding:77% 1.5rem 1.5rem;
	}	

}

@media screen and (min-width: 568px) { /* iPhone5 - landscape */

	.item{
		padding-top:.6rem;
		height:16.5rem;
	}

	.media{
		position:absolute;
		top:0; left:0;
		padding-top:0;
		width:22rem; height:100%;
	}

	.item h3,
	.item h4{
		margin-left:21.5rem;
	}	

	.item h4{
		-webkit-line-clamp: 3;
		height:6.4rem;
	}

}

@media screen and (min-width: 768px) { /* iPad */

	html{
		font-size:75%;
	}

	.item{
		padding-top:1rem;
		height:16.5rem;
	}	

	.item h3{
		margin-bottom:.6rem; margin-left:22rem;
		font-size:2.4rem; line-height:2.8rem;
	}

	.item h4{
		margin-left:21.7rem;
		font-size:1.4rem; line-height:2rem;
	}

}