@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab);/* 
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*{
	box-sizing:border-box;
}

/* set font size at 10px */
html{
	font-size:62.5%; 
}

html, body{
    height: 100%;
    background-color: #f1f1f1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
	font-family:'Roboto Slab',Georgia;
}

p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time{
	font-family:'Roboto',helvetica,arial;
}

.sw{
	margin:0 auto; padding:0 1rem;
	max-width:1000px;
}

/* set font size at 12px from iPad upward */
@media screen and (min-width: 768px) {

	html{
		font-size:75%;
	}

}/* overwrites ../article/Article.css */
.mediael.gallery img{
  width:100%;
}
/* /overwrites ../article/Article.css */

.gallery .container{
  position:relative;
  width:100%; height:100%;
  overflow:hidden;
}

.gallery .slider{
  transform:translate(0,0);
  -webkit-overflow-scrolling: touch;  
}

.gallery .slider.notouch{
  transition: transform .3s ease-in;
}

.gallery .slider li{
  float:left;
}

.gallery .prev,
.gallery .next{
  position:absolute;
  top:0;
  width:4.5rem; height:100%;
  background:rgba(0,0,0,0); opacity:.3;
  z-index:1;
}

.gallery .prev{
 left:0;
}

.gallery .next{
  right:0;
}

.gallery:hover .prev,
.gallery:hover .next{
  opacity:.5;
  background:rgba(0,0,0,1);
}

.gallery .prev svg,
.gallery .next svg{
  position:absolute;
  top:50%;
  width:3rem; height:auto;
}

.gallery .prev svg{
  left:.7rem;
  transform:translate(0,-50%);
}

.gallery .next svg{
  right:.7rem;  
  transform:translate(0,-50%) rotateY(180deg);
}

.gallery .prev svg path,
.gallery .next svg path{
  fill:#FFF;
}


/*
.gallery{
  width:100%; height:265px;
  overflow:hidden;
  position:relative;  
}

.gallery.thumb{
  height:315px;
}

.gallery .buttons{
  width:100%; height:50px;
  background:#FFF; border-bottom:1px solid #e4e4e4;
  overflow:hidden;
}

.gallery .buttons a,
.gallery .buttons span{
  float:left;
  width:65px; height:50px;
  border-right:1px solid #e4e4e4;
  overflow:hidden;
}

.gallery .buttons a.floorplan{
  background:url(/portal/assets/img/home/floorplan.svg) center center no-repeat; 
}

.gallery .buttons span.video{
  background:url(/portal/assets/img/home/videocamera_full.svg) center center no-repeat; 
}

.gallery .buttons span.foto360{
  background:url(/portal/assets/img/home/camera_full_360_big.svg) center center no-repeat; 
}

.gallery .buttons span.video360{
  background:url(/portal/assets/img/home/videocamera_full_360.svg) center center no-repeat; 
}

.gallery .galLabel{
  position:absolute;
  top:-1px;left:0;
}

.gallery .galDepthLabel{
  display:inline-block;
  padding:0 10px;
  font:11px/20px 'Museo-Sans-500';
  color:#FFF;
  text-transform:uppercase;
}

.gallery .galStatusLabel{
  display:inline-block;
  padding:0 10px;
  font:11px/20px 'Museo-Sans-500';
  color:#FFF;
  background:#e4002b;
  text-transform:uppercase;
}

.gallery .gal360Label{
  position:absolute;
  top:0;left:0;  
  width:65px; height:25px;
  background:#c40521;  
}

.gallery .gal360Label svg{
  display:block;
  margin:2px auto 0;
  width:55%; height:auto;
}


.gallery p{
  position:absolute;
  bottom: 15px; right: 15px;
  margin:0;
  background: rgba(68,70,72,.6);
  border-radius: 4px;
  color: #fff;
  width: 45px;
  font:14px/28px 'Museo-Sans-300';
  text-align: center;
}

.gallery.thumb p{
  bottom:65px;
}

.gallery  .prev,
.gallery  .next{
  display:none;
  position:absolute;
  top:0; left:0;
  width:20%; height:100%;
  background:rgba(0,0,0,.5);
}

.gallery  .prev,
.gallery  .next{
  display:none;
  position:absolute;
  top:0; left:0;
  width:20%; height:100%;
  background:rgba(0,0,0,.5);
}

.gallery  .prev:before,
.gallery  .next:before{
  content:'<';
  position:absolute;
  top:50%; left:0;
  margin-top:-15px;
  width:100%;
  font-size:2.8rem; color:#FFF; text-align:center; text-shadow: 1px 2px 2px #333f48;
}

.gallery  .next:before{
  content:'>';
}

.slider{
  position:relative;
  width:100%; height:265px;
  transform:translate(0,0);
  background:#333;
  -webkit-overflow-scrolling: touch;
}

.slider.notouch{
  transition: transform .3s ease-in;
}

.slider li{
  float:left;
  height:265px;
  overflow:hidden;
}

.gallery img{
  display:block;
  margin:0 auto;
  max-height:100%;
}

.gallery .commandDeck{
  margin:5px 0 0;
  height:47px;
  overflow:hidden;
}

.gallery .commandDeck .trigger{
  float:right;
  margin:0 1%;
  width:calc(23% - 2px); height:45px;
  color:#697684; line-height:45px;
  background:#e5e8ea; border:1px solid #e4e4e4; border-radius:3px;
}

.gallery .commandDeck .trigger:hover{
  background-color: #f5f5f6;
}

.videoplayerCont{
  width:100%; height:100%;
  background:#333;
}

.gallery .thumbnailContainer,
.gallery .thumbArrow{
  display:none;
}

.srp{
  opacity:1;
  transition:opacity .5s linear;
}

.srp.lazy{
  opacity:0;
}

.srp .slider{
  height:265px;
}

.srp .gallery p{
  position:absolute;
  bottom: 15px; right: 15px;
  width: 45px;
  font:1.4rem/2.8rem 'Museo-Sans-300'; color: #fff; text-align: center;
  background: rgba(68,70,72,.6); border-radius: 4px;
}

.srp .gallery  .next{
  display:block;
  left:auto; right:0;
}

.srp .gallery .commandDeck{
  position:relative;
  margin:0; height:auto;
  overflow:visible;
}

.srp .gallery .commandDeck .trigger.floorplan{
  position:absolute;
  bottom:15px; left:15px;
  width:28px; height:2.8rem; line-height:2.8rem; color:#333;
  background:#FFF;
}

.srpItem{
  margin:0;
  width:100%;
}

@media only screen and (min-width: 671px){

  .gal .videoplayerCont{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%; height:600px;
    background:#333;
  }

  .gal .videoplayerCont iframe{
    width:640px; height:480px;
    background:#333;
  }

  .gallery .thumbnailContainer{
    display:block;
    float:left;
    width:350px; height:100%;
    overflow:hidden;
  }

  .gallery .thumbArrow{
    display:block;
    float:left;
    margin:0 5px 0 0;
    width:18px; height:45px;
    font-size:16px; color:#888; line-height:45px; text-decoration:none;
    border:1px solid #888;
  }

  .gallery .thumbArrow.tNext{
    margin:0;
  }

  .gallery .thumbnails li{
    float:left;
    margin-right:5px;
  }

  .gallery .thumbnails img{
    display:block;
    width:63px; height:45px;
    border:1px solid #e3e3e3;
    opacity: .4;
  }

  .gallery .thumbnails img:hover{
    opacity: 1;
  }

  .gallery .thumbnails img.cur{
    border:1px solid #FFF;
    opacity: 1;
  }

  .gallery .commandDeck .trigger{
    float:right;
    margin:0 0 0 5px;
    width:63px; height:45px;
    color:#697684; line-height:45px;
  }

}



@media only screen and (min-width: 950px){

  .srp{
    margin:0 auto;width:360px;
  }

  .gal{
    margin:0 auto;width:800px;
  }

  .pdp{
    margin:0 auto;width:655px;
  }

  .pdp .slider{
    height:483px;
  }

  .gal .slider,
  .gal #panorama{
    height:600px;
  }

  .srpItem .srp{
    margin:0;
  }

}
*/	/*

	uiSimplified:
	- standard rules

*/

.item{
	position:relative;
	margin:1rem 0; padding:77% 1rem 1rem;
	background:#FFF;
}

.item h3{
	margin-bottom:.6rem;
	font-size:2rem; line-height:2.4rem;
}

.item h4{
	font-size:1.4rem; line-height:1.8rem;
}

.media{
	position:absolute;
	top:0;left:0;
	padding-top:75%;
	width:100%;
}

.mediael{
	display: block; position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	width: 100%; height: 100%;
}

.mediael img{
	display: block;
	max-width: 100%;
}

@media screen and (min-width: 375px) { /* iPhone 6 */

	.sw{
		margin:1.5rem auto;
		padding:0 1.5rem;
	}

	.item{
		margin:1.5rem 0; padding:77% 1.5rem 1.5rem;
	}	

}

@media screen and (min-width: 568px) { /* iPhone5 - landscape */

	.item{
		padding-top:.6rem;
		height:16.5rem;
	}

	.media{
		position:absolute;
		top:0; left:0;
		padding-top:0;
		width:22rem; height:100%;
	}

	.item h3,
	.item h4{
		margin-left:21.5rem;
	}	

}

@media screen and (min-width: 768px) { /* iPad */

	html{
		font-size:75%;
	}

	.item h3{
		margin-bottom:.8rem;
		font-size:2.2rem; line-height:2.6rem;
	}	

}