#header,
.header{
  width:100vw;
  height:50px;
  background:#333;
}

.header{
	position:relative; z-index:5;
}

#header.fixed .header{
	position:fixed;
	top:0; left:0;
	transition: top .3s ease-in;
}

#header.lurking .header{
	position:fixed;
	top:-50px; left:0;
	transition: top .3s ease-in;
}

#header .logo{
	margin:0 auto;
	width:61px; height:50px;
	background:url(/images/style/logo.png) 0 center no-repeat;
	background-size:auto 34px;
	text-indent:-9999em;
	transition: all .3s ease-in;
}

#header.fixed .logo{
	background-position: 0 9px;
}

#header .menu_handle{
	position:absolute;
	top:0; left:1rem;
	width:50px; height:50px;
}

#header .menu_handle .hamburger{
	position:absolute; 
	top:50%; left:4px;
	margin-top:-12px;
}

#nav{
	position: fixed; z-index: 4;
	top:50px; left:0;
	padding-bottom:2.5rem;
	width:100vw; height:calc(100vh - 50px);
	background:rgba(241,241,241,.9);
	transform: translate(-100%,0);
	transition:all 300ms;
	overflow-y:auto;
}

.menu_open #nav{
	transform: translate(0,0);	
}

#nav dl{
	padding:1.5rem 1rem 0;
	font-weight:700; font-size:1.6rem; line-height:4.4rem; font-family:'PT Sans',Georgia; text-transform: uppercase;
}

#nav dt{
	color:#777;
}

#nav a{
	display:block;
	padding-left:1rem;
	color:#333;
	text-decoration:none;
}

#nav a.active{
	color:#f90;
}

#nav .hp a{
	padding-left:0;
}

@media screen and (min-width: 375px) { /* iPhone 6 */

	#nav dl{
		padding:2.5rem 1.5rem 0;
	}

}

@media screen and (min-width: 568px) { /* iPhone5 - landscape */

	#nav{
		width:320px; height:calc(100vh - 50px);
	}

}

@media screen and (min-width: 768px) { /* iPad */

	#header .logo,
	#header.fixed .logo{
		background-position: 0 center;
	}

	#header .menu_handle svg{
		left:5px;
		margin-top:-12px;
	}

	#nav{
		width:50vw;
	}

	#nav dl{
		margin:1.5rem auto 0;padding:1.5rem 1rem;
		width:320px;
	}		

}

@media screen and (min-width: 950px) {

	#header	.sw{
		position:relative;
	}

	#header .menu_handle{
		left:1.5rem;
	}

	#header .menu_handle svg{
		left:0;
	}	

	#header .menu_handle svg path{
		transition:all 500ms;
	}

	#nav{
		width:40vw;
		transition:all 500ms;
	}

}