.modal{
	position:fixed; z-index:6;
	top:0; left:0;
	padding:1rem;
	width:100vw; height:100vh;
	background:#f0f0f0;
	transition:all .25s ease-out;
}

.modal .modal_handle{
	position:fixed; z-index:7;
	top:1rem; right:1rem;
	width:4.4rem; height:4.4rem;
	background:#f90;
	text-indent:-9999em;
}

.modal .format{
	position:absolute;
	top:1rem; left:1rem;
	width:calc(100% - 2rem); height:calc(100% - 2rem);
	background:#FFF; border-radius:5px;
	overflow-y:auto;
}

.modal h1{
	position:fixed; 
	top:1rem; left:1rem;
	padding:0 1rem;
	width:calc(100% - 2rem);
	font-size:1.8rem; line-height:4.4rem;
	background:#FFF; border-bottom:1px solid #f0f0f0;
}

.modal .content{
	margin-top:4.5rem; padding:1rem;
}

.modal .format p{
	
}

body.modal_open{
	position:fixed;
	overflow: hidden;
}

@media screen and (min-width: 768px) { /* iPad */

	.modal{
		z-index:4;
		top:50%; left:50%;
		padding:2rem;
		width:calc(100vw - 100px); height:auto; min-height:300px;
		border-radius:10px;
		transform:translate(-50%,-50%);
	}

	.modal .modal_handle{
		position:fixed; z-index:7;
		top:2rem; right:2rem;
		width:4.4rem; height:4.4rem;
	}	

	.modal .format{
		position:static;
		top:auto; left:auto;
		width:100%; height:auto; max-height:calc(100% - 2rem); min-height:calc(280px - 2rem);		
	}

	.modal h1{
		position:static;
		top:auto; left:auto;
		width:100%;
	}

	.modal .content{
		margin-top:0;
	}

}	