@import url('https://fonts.googleapis.com/css?family=Lato|PT+Sans:400,700');

/* set font size at 10px */
html{
	font-size:62.5%; 
}

html, body{
    height: 100%;
    background-color: #f1f1f1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
	font-family:'PT Sans',Georgia; font-weight:700;
}

p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time{
	font-family:'Lato',helvetica,arial;
}

#app{
	padding-bottom:5rem;
}

.sw{
	margin:0 auto; padding:0 1rem;
	max-width:1000px;
}

/* set font size at 12px from iPad upward */
@media screen and (min-width: 768px) {

	html{
		font-size:75%;
	}

	#app{
		padding-bottom:0;
	}	

}