.overlayer{
	display:none;
	position:fixed; z-index:3;
	top:0; left:0;
	width:100vw; height:100vh;
	background:rgba(0,0,0,.7);
}

@media screen and (min-width: 568px) {
	.overlayer{	
		background:rgba(0,0,0,.5);	
	}
}