.overlayer{
	position:fixed; z-index:3;
	top:0; left:0;
	width:100vw; height:100vh;
	background:rgb(0,0,0); opacity:0;
	transform: translate(-100%,0);
	transition: opacity .3s linear;
}

.closing .overlayer{
	opacity:0;
	transform: translate(0,0);
}

@media screen and (min-width: 568px) { /* iPhone5 - landscape */

	.menu_open .overlayer{
		opacity:.3;
		transform: translate(0,0);
	}

}	

@media screen and (min-width: 768px) { /* iPhone5 - landscape */

	.modal_open .overlayer{
		opacity:.3;
		transform: translate(0,0);
	}

}	